/*
 dealer list color background :#b2ebf2b0;
background-color: #b2ebf2b0;
    border-left: 12px solid #006380;
*/

span.contact {
    background: #0093ffa3;
    color: white;
    padding: 7px;
    border-radius: 16px;
}
span.contact .fa {
    background: #007bff;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -3px;
}
.catalog{
    background: #4d4d4d;
    color: white;

}
.font-1-rem{
    font-size: 1rem !important;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.Youtube-box h5{
    color: white;
    padding: 10px 0px;
}
div.downloadPDF input[type=text] {
    pointer-events: none;/*Act as a label */
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  div.downloadPDF input[type=text]::placeholder{
      color: white;
      opacity: 1;
  }
  div.downloadPDF label{
    pointer-events: none;
    padding: 11px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #4d4d4d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
  }
  .youtube-wrapper{
      background: black;
      padding-bottom: 62px;
  }
  .section{
      
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .Youtube-box{
    height: 420px;
    padding-bottom: 50px !important;
  }
  .subHead{
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  .Maintainence h5{
      margin-bottom: 0px;
  }
  div.downloadPDF button {
    float: left;
    width: 20%;
    padding: 8px;
    background: #0071bd;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .imagecollage{
    position: relative;
  }
  .img-one{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    border: 0.25rem solid #0071bd;
  }
  .img-two{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px;
    border: 0.25rem solid orange;
  }
  .img-three{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0px;
    border: 0.25rem solid #0071bd;
  }
  /* .square {
    position: relative;
    width: 50%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */
  div.downloadPDF button:hover {
    background: #0b7dda;
  }
  .square{
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
  div.downloadPDF::after {
    content: "";
    clear: both;
    display: table;
  }
 /*  .downloadSVG{
      background: url(../assets/icon/baseline-get_app-24px.svg);
      
  } */
.Service{
    background: white;
    padding-top: 15px;
}

.nav-link-color{
    color:#0071bd !important;
}
.backgroundGreen{
    background-color: #006380 !important;
}
.logo{
    max-width: 12rem;
}
.lightgrey{
    background-color: #f2f2f2!important;
}
.btn-theme{
    background-color: #006380;
    border-color: black;
    color: #fff;
    /* border-right: 1px solid black; */
}
.btn-theme.active{
    background: #034251;
    box-shadow: 0px 0px 5px #034251;
}
.description{

}
.card-header-panel{
    background-color: white;
    padding: 0.05rem 1.25rem;
}
.btn-catalog{
    color: #fff;
    background-color: #0071bd;
    border-color: #0071bd;
    border-radius: 0.35rem !important;
}
.card-link.rotateIcon{
    color:black !important;
}
button.btn.btn-catalog:active {
    box-shadow: 0px 2px #666;
    transform: translateY(3px);
}
.card.description .card-footer{
    border-top: 0px solid rgba(0,0,0,.125);
    padding: 0rem 1.25rem;
}
.description .card-body {
    /* font-size: 1rem; */
}
.dealerList{
    overflow: scroll;
    max-height: -webkit-fill-available;
    padding-left: 0px;
    padding-right: 0px;
}
.card-group{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 100% !important;
    box-shadow: 1px 1px 30px #9e9e9e;
    flex-direction: inherit;
}
.table li{
    list-style: none;
}
.table th{
    text-align: right;
    font-weight: normal;
    border-top: 1px solid #919396;
    
}
div#v-pills-tab p {
    margin-bottom: 0rem;
}
.dealer-phone.fa-phone {
    font-size: inherit;
    padding-left: 0px;
    padding-bottom: unset;
    width: auto;
    margin: auto;
}
.padd-left-right-0{
    padding-left: 0px;
    padding-right: 0px;
}
.subCategoryList .nav-link.active {
    background: #006380 !important; 
    color: white !important;
    border-radius: 0rem !important;
}
.subCategoryList .nav-link {
    color: #006380 !important; 
    background: white;
    padding: 0.2rem 1rem;
    margin-bottom: 1px;
    border-radius: 0rem !important;
}
.bg-light{
    background-color: #f2f2f2!important
}
.table td{
    font-weight: bold;
    border-top: 1px solid #919396;
    
}
.card-group:hover {
    box-shadow: 5px 5px 40px grey;
  }
.padd10{
    padding-left: 5px !important;
    padding-right: 5px !important;
    max-height: 200px;
}
.paddLeft{
    padding-left: 1.25rem;
}
.subCategoryList{
    display: unset;
}
.card-text{
    font-size: 10px;
    height: 60px;
    overflow: hidden;
}
.copyright-text{
    font-size: 0.625rem;
}
.dimgreybold{
    font-weight: bold;
    color: dimgrey;
    display: block;
    padding: .5rem 1rem;
}
a.headerLogo{
    top: -7px;
    left: -42px;
    position: relative;
    margin-right: 0rem;
}
  img.headerLogo{
      
      width: max-content;
  }
  .carousel-indicators > .active{
      background:#1567d0 !important;
  }
.cardImage{
    width: 100%;
    height: 100%;
    padding: 2px;
    background: white;
    object-fit: contain;
}
.nav-link{
    color:#046682 !important;
}
.footercolor{
    background: #034b5a !important; 
    padding: 0px !important;
}
#footerlogo::after{
    content: "|";
    color: white;
}
.rotateIcon{
    color: #006380;
}
#footerlogo{
    padding: 0px !important;
}
.fixed-head-nav{
    padding: 0rem 1rem;
}
.fixed-head-nav .nav-item.page-active{
    border-bottom: 4px solid #046682;
}
a.list-group-item::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -29px;
    width: 206px;
    height: 49px;
    z-index: -1;
    opacity: 1;
    background: #046682;
    transform: skewX(-40deg);
}
span.skew{
    color: #fff;
}
  .fa {
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  } 
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    color: #007bb5;
    background: white;
  }
  .fa-facebook {
    color: #3B5998;
    background: white;
  }
  .fa.fa-angle-left, .fa.fa-angle-right {
    font-size: 64px;
    color: black;
  }
  .city .fa {
    color: red;
    font-size: inherit;
    padding-left: 0px;
    padding-bottom: unset;
    width: auto;
    margin: auto;
  }
  .address.nav-link.active{
    background-color: #b2ebf2b0;
    border-left: 12px solid #006380;
  }
  .address.nav-link:not(.active) {
    background-color: white;
    border-bottom: 1.1px dotted black;
}
  .address * {
    color: black !important;
}
  .colorwhite{
      color:white !important;
  }
  .colorBlack{
      color: black !important;
  }
  .carousel-indicators li{
      border-radius: 50%;
      border:1px solid white;
      width:10px;
      height: 10px;
      background-color: transparent;
  }
  .paddzero{
      padding: 0px !important;
  }
  .col-md-3 .nav-item{
      background-color: green;
  }
  ._cardFooter{
    padding-top: 0px !important;
    border: 0px !important;
    background: inherit !important;
    font-size: 14px;
  }
  .ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .middle{
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      padding-bottom: 15px;
  }
  .cardHead{
      line-height: 1.0;
      font-size: 0.8rem !important;
      color: #046682;
  }
  .card{
      border:0px !important;
  }
  .subCategory.active:after{
    content: "";
    float: right;
    border: 6px solid transparent;
    border-left: 6px solid whitesmoke;
    margin: 3px -1em 0 0;
  }
  .productTitle{
    font-style: oblique;
    font-weight: bold;
    color: darkslategrey;
  }
  .download{
    padding-left: inherit;
    padding-right: inherit;
  }
 
  iframe{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
.nav-link.city{
    color: red !important;
}
.body {
    background: ffffff59;
    padding:0px;
    padding-bottom:45px;   /* Height of the footer */
}
.body-find-a-dealer{
    background: ffffff59;
    /* padding-bottom: 116px;
    padding-top: 10px; */
    padding-bottom: 101px;
    padding-top: 4px;
}
.overflow-hidden{
    overflow: hidden;
}
#PreFooter{
    background-color:white;
}
.lessHeight{
    object-fit: fill; 
}
a.footerlogo{
    top: 7px;
    left: -11px;
    position: absolute;
}
.socialIcons{
    font-size: 25px;
    color: white;
    background: transparent;
}


/* styles for '...' */ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (5) */
    max-height: 6.0em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }



/*

Media Queries for Carousel

*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* Ipad landscape */
@media only screen and (max-width: 1024px) {
    .lessHeight{
        max-height: 300px;
    }
}
/* Ipad portrait */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {
    .lessHeight{
        max-height: 600px;
    }
} */